<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load static %}

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/cart.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>


<h1>Your Cart</h1>

<p>
<span id="cart-count" class="relative -top-2 -right-3 bg-red-600 text-white text-xs font-bold rounded-full px-2 py-1">{{ total_items }}</span> items in cart</p>
<hr>
<div id="message-container">Msg: </div>
<hr>
{% if messages %}
<div id="messages" class="alert-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }} message</div>
    {% endfor %}
</div>
{% endif %}
<hr>
<div class="product-container">
{% for item in products %}

<div class="product-card">
    {% if item.product.image %}
    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
    {% else %}
    <p>No image available.</p>
    {% endif %}
    <div class="product-details">
    <h2>{{ item.product.name }}</h2>
    <p>£<span id="price-{{ item.product.id }}" class="price">{{ item.product.price }}</span></p>
    
    <p><button class="btn-decrease" data-product-id="{{ item.product.id }}">-</button>
    <span id="quantity-{{ item.product.id }}" class="quantity">{{ item.quantity }}</span>
    <button class="btn-increase" data-product-id="{{ item.product.id }}">+</button> @ £<span id="total-{{ item.product.id }}" class="total">{{ item.total }}</span></p>


<div>
    <form class="remove-cart-form" action="{% url 'remove_from_cart' item.product.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="remove-btn button">Remove</button>
    </form>
</div>
</div>
</div>
{% endfor %}

<div class="product-card">
    <div class="product-details">
    <h2>Cart Totals</h2>

<h3>£<span id="total-price" class="bold">{{ total }}</span></h3>

<form action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button">Pay with Stripe</button>
</form>

<p>
    <a href="{% url 'product_list' %}" class="modalls">Continue Shopping</a></p>
    </div>
</div>
</div>
<hr>
<!-- Modal Structure -->
<div id="confirmModal" class="modal hidden">
    <div class="modal-content">
      <h2>Confirm Removal</h2>
      <p>Are you sure you want to remove this item from your cart?</p>
      <div class="modal-buttons">
        <button id="confirmRemove">Yes, Remove</button>
        <button id="cancelRemove">Cancel</button>
      </div>
    </div>
  </div>
  
  
</body>
</html>
