<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load static %}

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/cart.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

      
<h1>Your Cart</h1>
<div id="message-container">Msg: </div>

{% if messages %}
<div id="messages" class="alert-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }} message</div>
    {% endfor %}
</div>
{% endif %}

<div class="product-container">
{% for item in products %}
<div class="product-card">

    <hr>
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        {% else %}
        <p>No image available.</p>
        {% endif %}
    <p>{{ item.product.name }} - £{{ item.product.price }} x {{ item.quantity }}</p>


    <form class="remove-cart-form" action="{% url 'remove_from_cart' item.product.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="remove-btn">Remove</button>
    </form>
    </div>
{% endfor %}

<div>

<p>Total: £{{ total }}</p>

<form action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Pay with Stripe</button>
</form>


    <a href="{% url 'product_list' %}">Continue Shopping</a>
    </div>
</div>
</body>
</html>
